body {
    top: 0;

    text-align: center;
  }
  

  
  
.big-heading {
    font-family: "Montserrat-Black";
    font-size: 4rem;
    line-height: 1.2;
  }
  
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  
.container-fluid{
    padding: 7% 10%;
  }
  
  
  
.white-section {
    background-color: #fff;
  }
  
  

  
  #title {
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 10% 3%;
  }
#font-awesome .container{
    padding: 3% 15% 3%;
    width: 100%;
}
  
  
  .title-image {
    width: 100%;
   height: 500px;
    position: absolute;
    right: 10%;
  }
  
  #font-awesome {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
@media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
    }
  }
  
  
